src/main/resources/jh_request_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ReceiveRequestService" targetNamespace="http://changhongit.com/" xmlns:tns="http://changhongit.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP11="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://changhongit.com/" xmlns:tns="http://changhongit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="requestReceiveTask"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="arg1" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="requestReceiveTaskResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="requestReceiveTask">
    <wsdl:part name="requestReceiveTask" element="tns:requestReceiveTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestReceiveTaskResponse">
    <wsdl:part name="requestReceiveTaskResponse" element="tns:requestReceiveTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReceiveRequest">
    <wsdl:operation name="requestReceiveTask">
      <wsdl:input message="tns:requestReceiveTask">
    </wsdl:input>
      <wsdl:output message="tns:requestReceiveTaskResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReceiveRequestBinding" type="tns:ReceiveRequest">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="requestReceiveTask">
      <SOAP:operation/>
      <wsdl:input>
        <SOAP:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceiveRequestService">
    <wsdl:port name="ReceiveRequestPort" binding="tns:ReceiveRequestBinding">
      <SOAP:address location="http://103.245.130.51:8080/EDISend/ReceiveRequestService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
